.home-page {



.main-header {
  height: 76px;
  background: rgba(0,0,0,.0);
  position: absolute;
  z-index: 100;
  width: 100%;
}
.logo {
    max-width: 225px;
    float: left;
    img {
      max-width: 190px;
      width: 100%;
  }
}
.wrap {
  position: relative;
  right: 0;
  min-height: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
  &.active{
    right: 16em;
    overflow-x: visible;
    transition: all 0.3s ease-out;
  }
}
a{
   text-decoration: none;
   font-family: arial;
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}
.menu-link {
    float: right;
    display: block;
    text-decoration: none;
    width: 65px;
    padding: 12px;
    height:26px;
    &:hover{
      cursor: pointer;
    }
}

nav[role=navigation] {
  background: #00a9a6;
  clear: both;
  overflow: hidden;
  width: 16em;
  height: 50em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -16em;
  ul {
    margin: 0;
    padding: 0;
    li{
      a{
        display: block;
        padding: 0.8em;
        color: #fff;
        border-top: 1px solid #00a9a6;

      }
      &:hover{
        ul{
          max-height: 25em;
          transition: all 0.8s ease-out;
        }
      }
      ul{
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease-out;
        li{
          a{
            background: #00a9a6;
            &:hover{
              background: darken(#00a9a6,10%);
            }
          }
        }
      }
    }
  }
}

$bar-width: 35px;
$bar-height: 4px;
$bar-spacing: 10px;

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  transition: all 0ms 300ms;
  background: #fff;
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}


.hero{
  width: 100%;
  height: auto;
  img{
    width: 100%;
  }
}
.main{
  padding: 50px;
  max-width: 80em;
  margin: 0 auto;
}

.columnsContainer, footer  { 
  position: relative; 
  margin: 0; 
}

.leftColumn, .rightColumn, footer {  
   
  padding: 1.25em; 
}

.leftColumn { 
  margin-bottom: .5em; 
}


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { 
    margin-right: 19.5em;
   }

  .rightColumn { 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 18.75em;
  }   
}


}